.notification-button {
    margin-right: 0.2rem;
    padding: $bar-btn-padding;

    @include button-hover;

    .notification-count {
        font-size: 0.9rem;
        margin: -0.4rem 0 0 0.35rem;
        color: mix($text, $red, 20%);
    }
}