.bar .title {
    margin: 0.25rem 0;
    border-radius: 10px;
    padding: 0 0.5rem;
    border: 1px solid change-color($base, $alpha: 0.30);
    background-color: change-color($base, $alpha: 0.27);
    box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.15);
    font-weight: 500;
}