window.notifications, .notifications-body {
    all: unset;

    .notification {
        &.critical > box {
            box-shadow: inset 0 0 0.3rem 0 transparentize($red, 0.01);
        }
    
        button.close-button {
            border-radius: 2rem;
            margin: 0.1rem 0.1rem 0;
            background-color: transparent;
        }
    
        &:hover button.close-button {
            background-color: transparentize($red, 0.5);
        }
    
        .content {
            .title {
                margin: 0.25rem 1rem 0;
                color: $teal;
                font-size: 1.15rem;
                text-shadow: 0 0 2px $base;
            }
    
            .time {
                color: transparentize($text, .4);
                margin: 0.25rem 0.5rem 0;
            }
    
            .description {
                font-size: .95rem;
                margin-top: 0.2rem;
                color: $text;
                text-shadow: 0 0 2px $base;
            }
    
            .icon {
                margin: 0.25rem 1rem 0.25rem 0.25rem;
            }
        }
    
        box.actions {
            margin-top: 1rem;
    
            button {
                font-size: 1.1em;
                padding: 0 0.5rem;
                border-radius: 10px;
                margin: 0.3rem;
    
                @include button-hover;
            }
        }
    
        button.close-button {
            min-width: 1.2rem;
            min-height: 1.2rem;
    
            &:hover {
                background-color: transparentize($red, .2);
            }
    
            &:active {
                background-image: linear-gradient($red, $red);
            }
        }

        > box {
            opacity: 0.95;
            margin: 0.1rem 0.1rem 0;
            border: 1px solid $border-color;
            background-color: $surface0;
            border-radius: 10px;
            padding: 0.5rem;
        }

        .description {
            min-width: 350px;
        }
    }
}
