.notifications {
    @include window;
    margin: 0.3rem;
    min-height: 10rem;
    min-width: 35rem;

    .notifications-header {
        background-color: change-color($base, $alpha: 0.35);
        border-top-right-radius: $border-radius;
        border-top-left-radius: $border-radius;
        border-bottom: 1px solid $border-color;
        padding: 0.5rem 1rem;

        .notifications-title {
            min-width: 15rem;
            font-size: 1.2rem;
            color: $teal;
        }

        .clear-button, .dnd-button {
            padding: $bar-btn-padding;
            border-radius: 5px;

            &:hover {
                background-color: transparentize($teal, 0.8);
            }
        }

        .dnd-button {
            padding-right: 0.85rem;
        }
    }

    .notifications-body {
        min-height: 35rem;
        padding: 1rem;

        .notification {
            > box {
                background-color: change-color($base, $alpha: 0.60);
            }
        }
    }
}
