.notifications {
    @include window;
    margin: 0.3rem;
    min-height: 10rem;
    min-width: 35rem;

    .notifications-header {
        background-color: mix($teal, $base, 20%);
        border-top-right-radius: $border-radius;
        border-top-left-radius: $border-radius;
        border-bottom: 1px solid $yellow;
        padding: 0.5rem 1rem;

        .notifications-title {
            min-width: 15rem;
            font-size: 1.2rem;
            color: $teal;
        }

        .clear-button, .dnd-button {
            @include button-hover;
            padding: $bar-btn-padding;
            border-radius: 5px;
        }

        .dnd-button {
            padding-right: 0.7rem;
        }
    }

    .notifications-body {
        min-height: 35rem;
        padding: 1rem;

        .notification {
            > box {
                background-color: mix($surface0, $base, 50%);
            }
        }
    }
}
