@mixin window {
    background-color: change-color($base, $alpha: 0.25);
    border-radius: 10px;
    color: $text;
    border: 1px solid $border-color;
}

@mixin tooltip {
    background-color: $surface0;
    border-radius: 0.4rem;
    color: $text;
    border: 1px solid $surface1;
}

@mixin logo {
    color: $text;
    font-size: $bar-btn-font-size;
    min-width: 2rem;
    transition: $bar-btn-transition-speed;

    @include button-hover;
}

@mixin button-hover {
    &:hover {
        background-color: change-color($base, $alpha: 0.30);
    }
}