.indicator {
    background-color: $overlay2;
    border-radius: 2rem;
    margin: 0.1rem;
    transition: 0.3s;
    color: $base;
}

.indicator-icon {
    margin: 0 0.45rem;
    font-size: 1.2rem;
}

.indicator:hover {
    background-color: mix($surface0, $teal, 50%);
}