.indicator {
    margin-right: 0.6rem;
    transition: 0.3s;
    color: $text;

    &:hover {
        background-color: mix($teal, $base, 30%);
    }
}

.indicator-icon {
    margin-left: .7rem;
    font-size: 1.2rem;

    &.extra-margin {
        margin-left: 0.95rem;
    }

    &.charging {
        color: $green;
    }
}
