.workspaces {
    border-radius: 2rem;
    padding: 0.2rem 0.1rem;
    margin: 0.25rem 0 0.25rem 0.6rem;
    background-color: $overlay2;
}

.workspace {
    border-radius: 2rem;
    background-color: $surface1;
    margin: 0 0.25rem;
    border: 1px solid transparent;
    padding: 0 0.65rem;
    transition: 0.3s;

    &.current {
        background-color: $teal;
        border-color: $crust;
    }
}

.workspace:hover {
    background-color: mix($teal, $yellow, 50%);

    &.current {
        background-color: mix($yellow, $teal, 50%);
    }
}