.workspaces {
    margin-left: 0.6rem;
}

.workspace {
    padding: 0 1rem 0 0.75rem;
    transition: 0.3s;

    &.current {
        color: $teal;
    }

    &:hover {
        background-color: mix($teal, $base, 30%);
    }
}
